In [33]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [34]:
import pandas as pd
import glob
import os

path = r'/Users/miya/Desktop/archive'                                     #文件夹位置
file = glob.glob(os.path.join(path,"*.csv"))                 #文件列表
file.sort()

In [35]:
file

['/Users/miya/Desktop/archive/BTC-2019min.csv',
 '/Users/miya/Desktop/archive/BTC-2020min.csv',
 '/Users/miya/Desktop/archive/BTC-2021min.csv']

In [36]:
for i in range(len(file)): #创建变量
    locals()['a'+str(i)]= pd.read_csv(file[i])

In [37]:
df_new=a0
for i in range(1,3): #file的数量
    df_new = df_new.append(locals()['a'+str(i)]) #先把所有分钟数据合并起来

In [38]:
df_new

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1577836740,2019-12-31 23:59:00,BTC/USD,7167.30,7171.22,7167.30,7168.36,0.191448,1372.366393
1,1577836680,2019-12-31 23:58:00,BTC/USD,7166.89,7167.30,7161.99,7167.30,0.568868,4077.245538
2,1577836620,2019-12-31 23:57:00,BTC/USD,7164.22,7170.80,7161.65,7166.89,3.959440,28376.874525
3,1577836560,2019-12-31 23:56:00,BTC/USD,7182.49,7182.49,7170.20,7170.20,6.248892,44805.802550
4,1577836500,2019-12-31 23:55:00,BTC/USD,7175.69,7176.68,7175.69,7176.68,0.016877,121.122623
...,...,...,...,...,...,...,...,...,...
610777,1609459500,2021-01-01 00:05:00,BTC/USD,29021.86,29023.38,28982.33,28999.50,1.062360,30807.899250
610778,1609459440,2021-01-01 00:04:00,BTC/USD,29048.13,29057.73,29035.61,29045.19,1.446538,42014.959434
610779,1609459380,2021-01-01 00:03:00,BTC/USD,29037.68,29069.39,29019.00,29048.13,2.189621,63604.382387
610780,1609459320,2021-01-01 00:02:00,BTC/USD,29069.80,29073.02,29028.14,29035.89,3.030301,87987.499279
610781,1609459260,2021-01-01 00:01:00,BTC/USD,29007.31,29086.90,29007.31,29083.47,14.561951,423512.060397

In [39]:
df_new.sort_values(by='date', ascending=False, inplace=True)

In [40]:
df_new['DateTime'] = df_new['date'].str.split(" ", expand = True)[0] #拆开为了用日期直接合并其他数据，最后再把日期并回去
df_new['mintues'] = df_new['date'].str.split(" ", expand = True)[1]
df_new

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD,DateTime,mintues
0,1646106180,2022-03-01 03:43:00,BTC/USD,43046.58,43046.58,43046.58,43046.58,0.000000,0.000000,2022-03-01,03:43:00
1,1646106060,2022-03-01 03:41:00,BTC/USD,43018.23,43046.59,43018.23,43046.58,0.142977,6154.673021,2022-03-01,03:41:00
2,1646106000,2022-03-01 03:40:00,BTC/USD,43022.24,43022.24,43016.03,43016.03,0.009230,397.037957,2022-03-01,03:40:00
3,1646105940,2022-03-01 03:39:00,BTC/USD,43035.16,43035.16,42999.44,42999.44,0.820950,35300.390268,2022-03-01,03:39:00
4,1646105880,2022-03-01 03:38:00,BTC/USD,43077.82,43077.82,43049.46,43049.46,0.022210,956.143143,2022-03-01,03:38:00
...,...,...,...,...,...,...,...,...,...,...,...
525594,1546301100,2019-01-01 00:05:00,BTC/USD,3690.40,3690.85,3690.40,3690.85,2.247676,8295.834596,2019-01-01,00:05:00
525595,1546301040,2019-01-01 00:04:00,BTC/USD,3692.35,3692.35,3690.34,3690.34,0.111622,411.923131,2019-01-01,00:04:00
525596,1546300980,2019-01-01 00:03:00,BTC/USD,3692.85,3692.85,3688.32,3692.35,0.296662,1095.379936,2019-01-01,00:03:00
525597,1546300920,2019-01-01 00:02:00,BTC/USD,3689.73,3689.73,3686.62,3686.62,0.965966,3561.149575,2019-01-01,00:02:00
525598,1546300860,2019-01-01 00:01:00,BTC/USD,3694.72,3694.72,3690.65,3690.65,9.500151,35061.732362,2019-01-01,00:01:00

In [42]:
del df_new['symbol']

In [44]:
df_new.to_csv("/Users/miya/Desktop/minuteprice.csv",encoding="gbk")

In [45]:
df_new

,date,open,high,low,close,Volume BTC,Volume USD,DateTime,mintues
0,2022-03-01 03:43:00,43046.58,43046.58,43046.58,43046.58,0.000000,0.000000,2022-03-01,03:43:00
1,2022-03-01 03:41:00,43018.23,43046.59,43018.23,43046.58,0.142977,6154.673021,2022-03-01,03:41:00
2,2022-03-01 03:40:00,43022.24,43022.24,43016.03,43016.03,0.009230,397.037957,2022-03-01,03:40:00
3,2022-03-01 03:39:00,43035.16,43035.16,42999.44,42999.44,0.820950,35300.390268,2022-03-01,03:39:00
4,2022-03-01 03:38:00,43077.82,43077.82,43049.46,43049.46,0.022210,956.143143,2022-03-01,03:38:00
...,...,...,...,...,...,...,...,...,...
525594,2019-01-01 00:05:00,3690.40,3690.85,3690.40,3690.85,2.247676,8295.834596,2019-01-01,00:05:00
525595,2019-01-01 00:04:00,3692.35,3692.35,3690.34,3690.34,0.111622,411.923131,2019-01-01,00:04:00
525596,2019-01-01 00:03:00,3692.85,3692.85,3688.32,3692.35,0.296662,1095.379936,2019-01-01,00:03:00
525597,2019-01-01 00:02:00,3689.73,3689.73,3686.62,3686.62,0.965966,3561.149575,2019-01-01,00:02:00
525598,2019-01-01 00:01:00,3694.72,3694.72,3690.65,3690.65,9.500151,35061.732362,2019-01-01,00:01:00

In [46]:
# 计算return
a=df_new['close'].tolist()
b=[]
for i in range(0,len(a)-1):
    diff=(a[i]-a[i+1])/a[i+1]
    b.append(diff)
b.append(0) #补了一个0

In [55]:
df_new['return']=b #将return并进去

In [56]:
df_new

,date,open,high,low,close,Volume BTC,Volume USD,DateTime,mintues,return
0,2022-03-01 03:43:00,43046.58,43046.58,43046.58,43046.58,0.000000,0.000000,2022-03-01,03:43:00,0.000000
1,2022-03-01 03:41:00,43018.23,43046.59,43018.23,43046.58,0.142977,6154.673021,2022-03-01,03:41:00,0.000710
2,2022-03-01 03:40:00,43022.24,43022.24,43016.03,43016.03,0.009230,397.037957,2022-03-01,03:40:00,0.000386
3,2022-03-01 03:39:00,43035.16,43035.16,42999.44,42999.44,0.820950,35300.390268,2022-03-01,03:39:00,-0.001162
4,2022-03-01 03:38:00,43077.82,43077.82,43049.46,43049.46,0.022210,956.143143,2022-03-01,03:38:00,-0.000916
...,...,...,...,...,...,...,...,...,...,...
525594,2019-01-01 00:05:00,3690.40,3690.85,3690.40,3690.85,2.247676,8295.834596,2019-01-01,00:05:00,0.000138
525595,2019-01-01 00:04:00,3692.35,3692.35,3690.34,3690.34,0.111622,411.923131,2019-01-01,00:04:00,-0.000544
525596,2019-01-01 00:03:00,3692.85,3692.85,3688.32,3692.35,0.296662,1095.379936,2019-01-01,00:03:00,0.001554
525597,2019-01-01 00:02:00,3689.73,3689.73,3686.62,3686.62,0.965966,3561.149575,2019-01-01,00:02:00,-0.001092
525598,2019-01-01 00:01:00,3694.72,3694.72,3690.65,3690.65,9.500151,35061.732362,2019-01-01,00:01:00,0.000000

In [58]:
df=df_new[['DateTime','mintues','return','Volume BTC','Volume USD']] #形成新的数据框

In [59]:
df

          DateTime   mintues    return  Volume BTC    Volume USD
0       2022-03-01  03:43:00  0.000000    0.000000      0.000000
1       2022-03-01  03:41:00  0.000710    0.142977   6154.673021
2       2022-03-01  03:40:00  0.000386    0.009230    397.037957
3       2022-03-01  03:39:00 -0.001162    0.820950  35300.390268
4       2022-03-01  03:38:00 -0.000916    0.022210    956.143143
...            ...       ...       ...         ...           ...
525594  2019-01-01  00:05:00  0.000138    2.247676   8295.834596
525595  2019-01-01  00:04:00 -0.000544    0.111622    411.923131
525596  2019-01-01  00:03:00  0.001554    0.296662   1095.379936
525597  2019-01-01  00:02:00 -0.001092    0.965966   3561.149575
525598  2019-01-01  00:01:00  0.000000    9.500151  35061.732362

[1624103 rows x 5 columns]

In [60]:
df.to_csv("/Users/miya/Desktop/minutereturn.csv",encoding="gbk")